table {
    width: 100%;
}

.title{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-btn{
    cursor: pointer;
    text-align: center;
}

.delete-btn:hover{
    color: #f44336;
}