<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="title">Employees</h2>
        <form #form="ngForm" (submit)="submited(form)">
        
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Employee Name</mat-label>
                <input matInput 
                type="text" 
                name="employeeName"
                [(ngModel)]="employeeService.employeeName"
                required
                >
            </mat-form-field>
        
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Employee Email</mat-label>
                <input matInput 
                type="text" 
                name="employeeEmail"
                [(ngModel)]="employeeService.employeeEmail"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                
                >
            </mat-form-field>
        
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Employee Age</mat-label>
                <input matInput 
                type="number" 
                name="employeeAge"
                [(ngModel)]="employeeService.employeeAge"
                required
                >
            </mat-form-field>
        
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Employee Position</mat-label>
                <input matInput 
                type="text" 
                name="employeePosition"
                [(ngModel)]="employeeService.employeePosition"
                required
                >
            </mat-form-field>
            
            <button mat-raised-button type="submit">Add Employee</button>
                        
        </form>
      </div>
    </div>
  </div>