<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="title">Employees</h2>
        <form #form="ngForm" (submit)="submited(form)">
        
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Employee Name</mat-label>
                <input matInput 
                type="text" 
                name="employeeName"
                [(ngModel)]="employeeService.employeeName"
                required
                placeholder="Maximum 20 characters"
                maxlength="20"
                >
            </mat-form-field>
        
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Employee Email</mat-label>
                <input matInput 
                [ngClass]= " { 'errorClass' : employeeEmailErrorMsg } "
                type="text" 
                name="employeeEmail"
                [(ngModel)]="employeeService.employeeEmail"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                maxlength="30"
                placeholder="Maximum 30 characters"
                >
            </mat-form-field>
        
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Employee Age</mat-label>
                <input matInput 
                type="number" 
                name="employeeAge"
                [(ngModel)]="employeeService.employeeAge"
                pattern="^(?:1[01][0-9]|120|1[7-9]|[2-9][0-9])$"
                placeholder="age must be between 18 and 120"
                required
                >
            </mat-form-field>
        
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Employee Position</mat-label>
                <input matInput 
                type="text" 
                name="employeePosition"
                [(ngModel)]="employeeService.employeePosition"
                required
                placeholder="Maximum 20 characters"
                maxlength="20"
                >
            </mat-form-field>

            <h6 *ngIf="employeeEmailErrorMsg" 
            [ngStyle]=" {'color': '#f44336', 'margin-bottom': '10px'} ">
            {{employeeEmailErrorMsg}}</h6>
            
            <button
            mat-raised-button 
            type="submit"
            [disabled]='!form.form.valid'>Add Employee</button>
                        
        </form>
      </div>
    </div>
  </div>