<table *ngIf="!employeeService.departmentSelected" mat-table [dataSource]="departmentService.dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="Department Name" >
      <th mat-header-cell *matHeaderCellDef> Department Name </th>
      <td mat-cell *matCellDef="let element" (click)="getEmployeesWithDepID(element._id)"> {{element.departmentName}} </td>

    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Department Description">
      <th mat-header-cell *matHeaderCellDef> Department Description </th>
      <td mat-cell *matCellDef="let element"> {{element.departmentDescription}} </td>
    </ng-container>

    <ng-container matColumnDef="Delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let element">
        <span style="cursor: pointer;" (click)="removeDepartment(element._id)">Delete <i class="fas fa-trash"></i></span>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="departmentService.displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: departmentService.displayedColumns;"></tr>
  </table>





<div *ngIf="employeeService.departmentSelected">
  <app-employee-table></app-employee-table>
</div>

  