table {
    width: 100%;
}

.mat-column-Department-Name{
    cursor: pointer;
}

.title{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.delete-btn{
    cursor: pointer;
    text-align: center;
}

.delete-btn:hover{
    color: #f44336;
}

.mat-form-field {
    margin-right: 8px;
}


simple-snack-bar{
    position: absolute; 
    top: calc(100% - 110px); 
    left: calc(50% - 250px);
}
